.slider {
    // max-width: 100%;
    height: calc(100vh - 5rem);
    overflow-x: hidden;
    position: relative;

    .container {
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        .sliderItem {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .sliderImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .icons {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 6.2rem;
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        gap: .8rem;

        .icon {
            width: 2.6rem;
            height: 2.6rem;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;

            .arrowIcon {
                font-size: 1.3rem;
            }
        }
    }
}